<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>${PRODUCT_NAME}</string>
		<key>CFBundleExecutable</key>
		<string>${EXECUTABLE_NAME}</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>${PRODUCT_NAME}</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiresFullScreen</key>
		<true />
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>La cámara se utilizará para obtener capturas fotográficas de sus elementos
			digitales.</string>
		<key>NSLocationUsageDescription</key>
		<string>Su ubicación se utiliza para registrar el lugar de captura de sus fotos.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Su ubicación se utiliza para registrar el lugar de captura de sus fotos.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Permitir la lectura archivos, de la carpeta de galería, de tu dispositivo</string>
		<key>NSDocumentsFolderUsageDescription</key>
		<string>Permitir la lectura archivos, de la carpeta documentos, de tu dispositivo</string>
		<key>NSDownloadsFolderUsageDescription</key>
		<string>Permitir la lectura archivos, de la carpeta descargas, de tu dispositivo</string>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true />
		<key>UIFileSharingEnabled</key>
		<true />
		<key>TNSGoogleMapsAPIKey</key>
		<string>XD</string>
	</dict>
</plist>